@media all and (min-width: 1001px){
 
 body{
     position: relative;
 }
    .wrapper{
     width: 1000px;
     margin: auto;
 }
     
    header { 
        background-color: rgb(228, 228, 0);
        
        height: 150px;
    }
    
    nav {
        background-color: aquamarine;
        height: 180px;
        float: left;
        width: 15%;
        
        
    
    }
    main{
        background-color: blueviolet;
        height: 180px;
        
        width: 50%;
        float: left;
    }
    footer{
        background-color: brown;
        height: 200px;
        clear: both;
        position: relative;
        
        
        
    }
    /* .absolute{
        background-color: white;
        display: inline-block;
       
        width: 30%;
        height: 80px;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        position: absolute;
        
        z-index: 1;
        
        margin: 0;
        
        

    }
    .relative{
        background-color: greenyellow;
        display: inline-block;
        width: 100px;
        height: 80px;
       
        border-style: solid;
        border-color: black;
        border-width: 2px;
        position: relative;
        right: 30px;
        bottom: 0%

    } */


    aside{
        background-color: beige;
        height: 180px;
        
        width: 35%;
        float: left;
        
    }
        
}



@media all and (max-width: 1000px) and (min-width: 700px) {

     
header { 
    background-color: rgb(228, 228, 0);
    
    height: 150px;
}

nav {
    background-color: aquamarine;
    height: 130px;
    
    

}
main{
    background-color: blueviolet;
    height: 120px;
    
    width: 70%;
    float: left;
}
footer{
    background-color: brown;
    height: 120px;
    clear: both;
    
    
}
aside{
    background-color: beige;
    height: 120px;
    display: inline-block;
    width: 30%;
    
}
    }


    @media all and (max-width: 699px) and (min-width: 10px) {
 

        header { 
            background-color: rgb(228, 228, 0);
            
            height: 50px;
        }
        
        nav {
            background-color: aquamarine;
            height: 50px;
            
        
        }
        main{
            background-color: blueviolet;
            height: 100px;
        }
        footer{
            background-color: brown;
            height: 50px;
          
        }
        aside{
            background-color: beige;
            height: 50px;

        }
body div div {
    background-color: aliceblue;
}




    
            }